<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 <meta name="description" content="" />
 <meta name="author" content="" />
 <title><%= og.title %></title>
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
 <!-- Favicon-->
 <link rel="icon" type="image/x-icon" href="/icon/ico.png" />
 <!-- Core theme CSS (includes Bootstrap)-->
 <link href="/css/cliente.css" rel="stylesheet" />
 <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>-->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-WDYBWY97KW"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-WDYBWY97KW');
</script>
<!--Schema Markup-->
 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "Laptop",
    "datePublished": "2024-03-01",
    "author": {
      "@type":"Person",
      "name": "Maikol"
    },
    "publisher":{
      "@type": "Organization",
      "name": "Company electronic",
      "logo": {
        "@type": "ImageObject",
        "url": "https://images.unsplash.com/photo-1491472253230-a044054ca35f?auto=format&fit=crop&q=80&w=1484&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "https://images.unsplash.com/photo-1491472253230-a044054ca35f?auto=format&fit=crop&q=80&w=1484&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "width": "800",
      "height": "600"
    },
    "description":"laptop"
  }
  </script>
 <!-- Favicon-->
 <link rel="icon" type="image/x-icon" href="/img/laptop.png" />
 <!-- Core theme CSS (includes Bootstrap)-->
 <link href="/css/clientes.css" rel="stylesheet" />
 <script type="text/javascript" src="/js/alert.js"></script>
</head>
<body>
    <div class='contenedorPrincipal'>


        <nav>

         <div id='styleDiv1'>


             <input type="search" placeholder="Buscar" id='buscarPrincipal'> 

             <a href="#scroll"><button onclick="buscarProductos()" id='boton3'>Buscar</button>
             </a>

         </div>
         <!---------------------------------------------------------->
         <div id="na">
            <ul>
                <li><a aria-current="page" href="/logout">Volver</a></li>
                
            </ul>
        </div>
        <!---------------------------------------------------------->

        <!--------------------------------------->
        <div id="na2">

           <ul class="menu-horizontal">

            <li class="li">
                <img src="/img/house.png" id='imggg'>

                <ul class="menu-vertical">

                    <li><a aria-current="page" href="#productosH2" style='color:white'>Productos</a></li>
                    <li><a href="/" style='color:white'>Contacto</a></li>

                </ul>

            </li>
        </ul>

    </div>
    <!---------------------------------------------------------->


</nav>
<div class="col-lg-6" id='galeriaImagenes'>

    <br>
    <br>
    <!--88888888888888888888888888888888888888-->
</div>
<!-- Header - set the background image for the header in the line below-->
<header style="background-image: url('https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">

    <div id='titulo'>
        <h1>Tecno Express</h1>
    </div>

</header>
<!-----------------------------------------------------------------> 
<!-- Content section-->
<section>
    <h2 id='productosH2'>Productos</h2>
    <div>
        <div>

           <button id='botonCuadricula' onClick="cuadricula()"><img src="/img/m.png" style='width:100%;border:none'></button>

           <!----------------+++++++++++++++++++++---->    
           <div class='product' id='listaDeProductos'>
            <!-------------------------------->  
            <%for(let x = 0;x < producto.length;x++){%>

            <div class='productooo'>

               <img src="<%= producto[x].imagen_url %>" class='imagen' id='imagenSelector'>
               <br>

               <div id='NPB'>

                   <div style='display:flex;flex-direction: column;justify-content:center;align-items:center'>
                    <p><strong>Nombre:</strong><%= producto[x].nombre %></p>
                    <strong><p>Precio: </strong><span style='color:green'><%= producto[x].precio %> $</span></p>

                </div>

            </div>

            <div class='comprarDetalles'>


              <div class='contenedorPuntuacion'>

                 <p class="puntuacion" data-producto_id='<%=producto[x].producto_id%>' data-puntuacion='<%=producto[x].puntuacion%>'><% if(producto[x].puntuacion !== null){ %>
                    Puntuación: <%=producto[x].puntuacion%>
                    <% }else{%>
                    Sin Puntos
                    <% } %> 
                </p>


            </div>

            <div class='estrellas'>
               <img src="/img/estrella.png" width="20" class="estrella" data-valor='1' title="1">

               <img src="/img/estrella.png" width="20" class="estrella" data-valor='2' title="2">

               <img src="/img/estrella.png" width="20" class="estrella" data-valor='3' title="3">

               <img src="/img/estrella.png" width="20" class="estrella" data-valor='4' title="4">

               <img src="/img/estrella.png" width="20" class="estrella" data-valor='5' data-producto_id='<%=producto[x].producto_id%>' title="5"> 
           </div> 


           <div style='display:flex;'>

              <a href="/comprar/<%=producto[x].producto_id%>"><img src="/img/carrito.png" width="30"></a>

              <a href="/detalles/<%=producto[x].producto_id%>" style='margin-top:7px;margin-left:8px;'><img src="/img/detalle.png" width="30"></a> 

          </div>
      </div>

  </div><!----producto---->

  <% } %>
  <!-------------------------------->

  <table class='table'>

    <thead>
        <tr>

            <th class='column'>Imagen</th>
            <th class='column'>Nombre</th>
            <th class='column'>Codigo</th>
            <th class='column'>Precio</th>
            <th class='column'>Descripcion</th>
            <th class='column'>Color</th>
            <th class='column'>Peso</th>
            <th class='column'>Categoria</th>
            <th class='column'>Opciones</th>

        </tr>
    </thead>

    <tbody>
        <%for(let u = 0;u < producto.length;u++){%>
        <tr class='tr' style='border:1px solid black'><!--ul-->
            <!--li-->
            <td class='column'><img src="<%= producto[u].imagen_url %>" style='width:100%;height:17vh'></td>
            <td class='column'><%= producto[u].nombre %></td>
            <td class='column'><%= producto[u].codigo %></td>
            <td class='column'><%= producto[u].precio %></td>
            <td class='column'><%= producto[u].descripcion %></td>
            <td class='column'><%= producto[u].calidad %></td>
            <td class='column'><%= producto[u].cantidad %></td>
            <td class='column'><%= producto[u].categoria_id %>

            </td>

            <td style='display:flex;'>

                <div style='margin-right:15px;margin-top:40px'>

                   <a href="/detalles/<%=producto[u].producto_id%>" style='margin-top:7px;margin-left:15px;'><img src="/img/detalle.png" style='width:90%;'></a>

                   <a href="/comprar/<%=producto[u].producto_id%>" style='margin-top:7px;margin-left:8px;color:blue'><img src="/img/carrito.png" style='width:90%'></a>

               </div>



           </td>

       </tr> 
       <% } %>
   </tbody>
   <tfoot>




   </tfoot>
</table>

<%for(let l = 0 ; l < producto.length; l++){%>
<ul class='ULtabla3'>
    <li class='LItabla3'><img src="<%= producto[l].imagen_url %>" style='width:40%;'></li>
    <li class='LItabla3'><span>Nombre: </span><span><%= producto[l].nombre %></span></li>
    <li class='LItabla3'><span>Codigo: </span><span><%= producto[l].codigo %></span> </li>
    <li class='LItabla3'><span>Precio: </span><span><%= producto[l].precio %></span> </li>
    <li class='LItabla3'><span>Descripcion: </span><span><%= producto[l].descripcion %></span></li>
    <li class='LItabla3'><span>Color: </span><span><%= producto[l].color %></span></li>
    <li class='LItabla3'><span>Peso: </span><span><%= producto[l].peso %></span></li>
    <li class='LItabla3'><span>Categoria: </span><span><%= producto[l]. categoria_id %></span></li>
    <li style='display:flex'>
        <div>
            <a href="/detalles/<%=producto[l].producto_id%>" style='margin-top:7px;margin-left:15px;'><img src="/img/lupa.png" style='width:40%;'></a>
        </div>

        <div>
         <img src="/img/comprar.png" style='width:40%'> 
     </div>


 </li>

</ul>
<% } %>

</div>
<!----------------+++++++++++++++++++++--->  
</div>
</div>
</section>
<!--------------------------------------------------------->          

<!-- Image element - set the background image for the header in the line below-->
<div class="imgFinal" style="background-image: url('https://images.pexels.com/photos/205421/pexels-photo-205421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<br>
<div class="imgFinal" style="background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<br>
<div class="imgFinal" style="background-image: url('https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>



<!-- Content section-->
<section>
    <div>
        <div>
        </div>
    </div>
</section>

<!--------------------------------------------------------->

</div>

<script type="text/javascript">
   fetch('/transaction')
   .then(res=>res.json())
   .then(respuesta=>{
    if(respuesta.message !== false){
       console.log(respuesta);
       Swal.fire(respuesta.transaction.message)

       .then(() =>{
        // Aquí la alerta se ha cerrado
        console.log("Alerta cerrada");
        fetch('/eliminarTransaction')
        .then(res=> res.json())
        .then(respuesta2=>{
            console.log(`Message : ${respuesta2.message}`);
        })
        .catch(error => {
               console.error('*_*/-[Error]-/*_*:', error);
        });
    }); 

       console.log(respuesta.transaction.message,'respuesta del server');  
   }else{
    console.log('No se recibio respuesta of the transaction'); 
}

})
</script>
<script type="text/javascript" src='/js/script.js'></script>
<script type="text/javascript" src='/js/puntuaciones.js'></script>
</body>
</html>
